<!DOCTYPE html>
<html>
<head>
<title>All the articles </title>
</head>

<body>
    <h1>All the articles:</h1>
    <% @articles.each do |article| %>
        <li>
          <a href="/articles/<%= article.id %>">
            <%= article.title %> 
          </a>
        </li>
      <% end %>
    
</body>
</html>