<!DOCTYPE html>
<html>
<head>
<title> </title>
</head>

<body>
    <form method="post" action='/articles'>
        <label for="title">Title</label>
        <input type="text" name="title">
        <br>
        <label for="content">Content</label>
        <textarea type="text" name="content"></textarea>
        <input type="submit" value="Submit article">
    </form>
</body>
</html>